%center
  %h3 Charts
  %br
  .col
    =bootstrap_form_tag url: dashboard_charts_path, method: "post", :html => {class: "form-inline"} do |chart|
      =chart.label :location, "Location: ", style:"margin-right: 8px; margin-left: auto;"
      =chart.text_field :location, value: @node.location, required: true, hide_label: true, style:"margin-right: 25px;"
      =chart.label :from, "From: ", style:"margin-right: 8px;"
      =chart.date_field :from, value: @from, required:true, hide_label: true, style:"margin-right: 25px;"
      =chart.label :to, "To: ", style:"margin-right: 8px;"
      =chart.date_field :to, value: @to, required:true, hide_label: true, style:"margin-right: 25px;"
      =chart.submit "Show", class: "btn btn-success", style:"margin-right: auto;"
  %br
  - data = Reading.where("node_id=? AND date <= ?'23:00:00' AND date >= ?'00:00:00'", @node, @to, @from)

.container-fluid.mt-5
  .row
    .col-12.col-lg-6
      =line_chart data.group_by_hour(:date).minimum(:ph), xtitle:"Time", ytitle:"pH", max:14, label:"pH", messages: {empty: "No data"}, download: {background: "#ffffff"}, discrete: true
    .col-12.col-lg-6
      =line_chart data.group_by_hour(:date).minimum(:turbidity), xtitle:"Time", ytitle:"Turbidity", label:"Turbidity", messages: {empty: "No data"}, download: {background: "#ffffff"}, discrete: true

.container-fluid.mt-5
  .row
    .col-12.col-lg-6
      =line_chart data.group_by_hour(:date).minimum(:temprature), xtitle:"Time", ytitle:"Temprature", label:"Temprature", messages: {empty: "No data"}, download: {background: "#ffffff"}, discrete: true
    .col-12.col-lg-6
      =line_chart data.group_by_hour(:date).minimum(:dissolved_oxygen), xtitle:"Time", ytitle:"Dissolved Oxygen", label:"DO", messages: {empty: "No data"}, download: {background: "#ffffff"}, discrete: true
